{% extends 'layout.html' %} 
{% block content %}
{% load static %}
<div class="bg-transparent m-4 p-4">
  <p class="lead">
    Here is a form for creating your own customized game. You can choose a name
    for your new game and add as many questions as you like, once you are done,
    just go to save the game.
  </p>

<form method="post">
  {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Game name</span>
            </div>
            {{ form.game_name }}
          </div>

          <button name="next" value="next" type="submit" class="btn btn-secondary btn-sm">
            Create first question
          </button>
        </div>
      </form>
{% endblock %}
