{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div class="bg-transparent m-4 p-4">
    <h1 class="text-right">Here are your Statistics for games:</h1>

</div>

<div class="bg-transparent m-4 p-4"> 
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Game</th>
        <th scope="col">Right answers</th>
        <th scope="col">Badges</th>
        </tr>
    </thead>
    <tbody>
        {% for x in gamemodesstats %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ x.theme }}</td>
        <td>{{ x.status }}%</td>
        <td>{{ x.badges }}/{{ x.questions }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}