{% extends 'layout.html' %} 
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to Simply Smart! Choose one of the options here</h1>
        </div> 
    </div>
    <div class="row">
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/electronicsGame.svg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Start the regular Electronics game</h5>
                <p class="card-text">Here you will be offered a broad variety of questions on such topics as GPIO, Interrupts, Timer and many more. Sounds like fun?</p>
                <a href="{% url 'regularGame' 0 %}" class="btn btn-primary">Start!</a>
            </div>
            </div>
        </div>
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/createGame.svg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Start the special mode game</h5>
                <p class="card-text">Enjoy our "Who wants to be a Millionaire?" special edition game</p>
                <a href="" class="btn btn-primary">Lets go!</a>
            </div>
            </div>
        </div>
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/userManage.svg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Create your own game</h5>
                <p class="card-text">Want to create your own set a question? Have a really good idea for a fun game? </p>
                <a href="{% url 'customGame' %}" class="btn btn-primary">Yes!</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {% block scripts %}
  <script type="application/javascript" src="{% static 'js/popup.js' %}"></script>

  {% endblock %}

{% endblock %}