{% extends 'layout.html' %} 
{% block content %}
{% load static %}
{% load htmlEscape %}
    <div class="bg-transparent m-4 p-4">

        {% if timebased == 1 %}
        <div class="timer"></div>
        {% endif %}

        <h1 class="text-right">Question:</h1>
        <div class="mb-2">
            <h5 class="text-right">{{ question }}</h5>
        </div>

        <ul class="answers list-group" style="list-style-type:none;">
            <li><a href="{% url 'checkAnswer' id answers.0 gameMode timebased %}" class="list-group-item list-group-item-action">{{ question.answer_1_right_one }}</a></li>
            <li><a href="{% url 'checkAnswer' id  answers.1 gameMode timebased %}" class="list-group-item list-group-item-action">{{ question.answer_2 }}</a></li>
            <li><a href="{% url 'checkAnswer' id  answers.2 gameMode timebased %}" class="list-group-item list-group-item-action">{{ question.answer_3 }}</a></li>
            <li><a href="{% url 'checkAnswer' id  answers.3 gameMode timebased %}" class="list-group-item list-group-item-action">{{ question.answer_4  }}</a></li>
        </ul>
        <div class="container"></div>
    </div>
        <div class="bg-transparent ms-4 ps-4 py-0"><button id="deleteOneQuestionButton" name="save" onclick="deleteOneQuestion('{{ question.answer_1_right_one }}')" type="submit" class="btn btn-outline-secondary">Delete one wrong answer</button></div>

    {% if user.is_authenticated %}
        <div class="bg-transparent m-3 p-3 text-center">
        <h6>Your badges here:</h6>
        {% if questionstat.earned_Badge %}
            <img src="{% static 'images/badge.png' %}" width="55" height="55">
        {% else %}
        <p class="text-center">-</p>
        {% endif %}
    </div>
    <span class="badge badge-pill badge-primary">Badge</span>
    {% else %}
        <p class="text-center">Please login to see your badges</p>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
    statsticsUrl = "{% url 'gameStatistic' %}"
    </script>
    <script type="application/javascript" src="{% static 'js/gameLogic.js' %}"></script>
    {% if timebased == 1 %}
    <script type="application/javascript" src="{% static 'js/Timer.js' %}"></script>
    {% endif %}

{% endblock %}