{% extends 'layout.html' %} 
{% block content %}
{% load static %}
{% load htmlEscape %}
    <div class="bg-transparent m-4 p-4">
        <h1 class="text-right">Question:</h1>
        <div class="mb-2">
            <h5 class="text-right">{{ question }}</h5>
        </div>

        <ul class="answers list-group" style="list-style-type:none;">
            <li><a href="{% url 'checkAnswer' id answers.0 gameMode %}" class="list-group-item list-group-item-action">{{ question.answer_1_right_one }}</a></li>
            <li><a href="{% url 'checkAnswer' id  answers.1 gameMode %}" class="list-group-item list-group-item-action">{{ question.answer_2 }}</a></li>
            <li><a href="{% url 'checkAnswer' id  answers.2 gameMode %}" class="list-group-item list-group-item-action">{{ question.answer_3 }}</a></li>
            <li><a href="{% url 'checkAnswer' id  answers.3 gameMode %}" class="list-group-item list-group-item-action">{{ question.answer_4  }}</a></li>
        </ul>
        <button id="deleteOneQuestionButton" name="save" onclick="deleteOneQuestion({{ question.answer_1_right_one }})" type="submit" class="btn btn-warning btn-sm">Joker! Delete one Question</button>

    {% if user.is_authenticated %}
        <div class="bg-transparent m-3 p-3">
        <h6 class="text-center">Your badges here:</h6>
        {% if questionstat.earned_Badge %}
        <p class="text-center">You have a BADGE!</p>
        {% else %}
        <p class="text-center">You have NOTHING</p>
        {% endif %}
    </div>
    <span class="badge badge-pill badge-primary">Badge</span>
    {% else %}
        <p class="text-center">Please login to see your badges</p>
    {% endif %}

{% endblock %}

{% block scripts %}
</script>
    <script type="application/javascript" src="{% static 'js/gameLogic.js' %}"></script>
{% endblock %}